@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
:root{
    --primary-color : #FF7B7B;
    --secondary-color: #7DC4FA;
    --contrast-color: #4a494b;
    --comp-color-1: #FFB100;
    --comp-color-2: #84E99D;
    --comp-color-3: #EEFFDB;


}
body{
    font-family: 'Mukta', sans-serif;
}

h1, h2, h3, h4, h5, h5, h6{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    
}

/* HEADER */
header{
    display: flex;
    justify-content: center;
    align-items: center;   
    border: 10px, solid, black;
    background-color: var(--primary-color);
}
header img{
    width: 30%;
}
header h1{
    font-size: 2rem;
    margin: auto;
}

/* HAMBURGER MENU */
#menu, #menuClose{
    margin: auto;
    font-size: 4rem;
    text-decoration: none;
    color: black;
    padding-bottom: 3%;
}
.show{
    display: flex;
}
.noShow{
    display: none;
}

/* NAVIGATION */
nav{
    display: flex;
    flex-direction: column;
    background-color: var(--comp-color-3);
    position: fixed;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    z-index: 2;
    transition:  1s ;
}

.navContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 50%;
    margin-bottom: 50%;
}

.navContent a{
    margin: 6px 0;
    padding: 20%;
    text-decoration: none;
    color: var(--contrast-color);
    font-size: 1.4rem;
    transition:  1s ;
}

#active {
    background-color: #4a494b;
    color: white;
    border-radius: 14%;
}

/* HERO IMAGE*/
.hero{
    position: relative;

}

.hero img{
    width: 100%;
}

.hero a{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%);    
    text-decoration: none;
    padding: 1%;
    color: var(--paragraph-color-on-color);
    background-color: var(--secondary-color);
    border: var(--secondary-color) solid 2px;
    border-radius: 12px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 1)
}

/* MAIN */
main{
    text-align: center;
    margin-top: auto;
    margin-left: 1em;
    margin-right:1em;
}

.card{
    padding: 2%;
    margin-top: 13px;
    border-radius: 10px;
    border-style: ridge;
    border-color: black;  
    background-color:var(--secondary-color);
    color: var(--contrast-color);
}


.info img {
    display: block;
    max-width: 300px;
    width: 80%;
    height: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.info a{
    text-decoration: none;
    padding: 1%;
    color: var(--paragraph-color-on-color);
    background-color: var(--secondary-color);
    border: var(--secondary-color) solid 2px;
    border-radius: 12px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 1)
}

ul{
    padding: 0%;
    list-style: none;
}

.infoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* FOOTER */

footer {
    margin-top:3%;
    padding: 1em;
    text-align: center;
    color: white;
    background-color: var(--contrast-color);
}
footer a{
    color: white;
}

.social{
    max-width: 50px;
    border-radius: 10%;
    margin: .5rem;
}

/* ORDER PAGE MAIN */

form{
    padding: 3%;
    text-align: center;
}

input {
    display: block;
    padding: .5rem;
    margin-top: 2%;
    margin-bottom: 2%;
}
.textInput{
    font-size: 1.1rem;
    width: 20rem;
}


form div {
    display: flex;
    flex-direction: column;
}

#ingredients {
    display: flex;
    flex-direction: column;
}

select{
    padding: 1%;
    margin: 1%;
}

#submit{
    border-radius: 10px;
    background-color: var(--comp-color-2);
}

/* CONFIRMATION */

.card2 {
    height: 250px;
}

#review{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr;
}
#review p{
    grid-column: 1/3;

}

/* ABOUT US MAIN  */

#aboutMain img{
    margin-top: 5%;
    width: 80%;
}
#carlsbad{
    display: flex;
    flex-direction: column;
}

iframe{
    margin-top: 5%;
    padding: 0%;
    margin-left: 2rem;
    margin-right: 5rem;
    width: 350px;
    height: 300px;
}