@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=IM+Fell+French+Canon+SC&family=Oswald&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #601700;
    --secondary-color: #595959;
    --accent1-color: #DCE0D9;
    --accent2-color: #601600b2;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'IM Fell French Canon SC', serif;
    --paragraph-font: 'Heebo', sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--primary-color); /* headlines on a white background */
    --headline-color-on-color: white; /* headlines on a colored background */
    --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */
    --paragraph-color-on-color: white; /* paragraph text on a colored background */
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);
}

body {
    margin: 0 auto;
    max-width: 1200px;
    font-size: 15px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
}
header img{
    width: 20%;
    display: block;
    margin: 2rem;
    border-radius: 10px;
}
header > h1,
header > h2 {
    color: var(--headline-color-on-color);
}


#menu {
	display: block;
	font-size: 1.5rem;
	text-decoration: none;
	background-color:var(--paragraph-background-color);
	color: #eee;
}

#menu::before {
	content: "≡";
}

.navigation li {
	display: none;
}
.navigation a:hover, navigation a:active {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

@media only screen and (min-width: 500px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	#menu {
		display: none;
	}
    nav{
        display: none;
    }
}
nav{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
    background-color: var(--nav-background-color);
}
nav ul{
    list-style-type: none;
    padding-inline-start: 0%;
    margin-block: 0%;
}
nav li{
    margin: 5px;

}
nav a{
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
	transition: 0.5s;
}
nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
}
ul{
    padding: 1em;
}
li{
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
} 

.hero{  
    width: 100%;
    text-align: center;
    position: relative;
}
.hero img{
    width: 100%;

}
.hero button{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color:var(--nav-background-color);
    border-radius: 10%;
    color: var(--headline-color-on-color);
    padding: .5rem;
    font-size: 1rem;
}
#callToAction{
    position: absolute;
    background-color:var(--nav-background-color);
    border-radius: 10%;
    color: var(--headline-color-on-color);
    padding-top: .4em;
    padding-bottom: .4em;
}
section img{
    display: block;
    margin: 0 auto;
}
.spotlights li{
    margin: 5%;
}

footer {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
}