@media only screen and (min-width: 900px ){

    body{
        font-size: 20px;
    }
    nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
    }
    

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #heroImage img {
        max-height: 20em;
    }

    .spotlights ul{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
    }
    
}