@media only screen and (min-width: 900px ){

    body{
        font-size: 20px;
    }
    nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
    }
    

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #heroImage img {
        max-height: 20em;
    }

    .spotlights ul{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
    }
    
    main{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .sidebar{
        grid-column: 1/2;
        background-color: var(--accent2-color);
        padding: .5em;
    }
    .rightSide{
        grid-column: 2/3;
        padding: 1em;
    }
    .rightSide img:hover{
        width: 650px;
        height: 650px;
        transition: 1s;
    }
    .rightSide img:not(:hover){
        width: 600px;
        height: 600px;
        transition-duration: .5s;
    }
}