@media only screen and (min-width: 500px ){

    body{
        font-size: 20px;
    }
    nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
    }
    
}