@media only screen and (min-width: 600px ){

    body{
        font-size: 20px;
    }
  
    .navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	#menu {
		display: none;
	}

    nav{
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding-top: 1%;
        padding-bottom: 1%;
        margin: auto;
        background-color: var(--nav-background-color);
    }

    .forecastWeather{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2%;
        border: black solid 1px;
    }
    .forecastWeather section{
        padding: 2%;
        border: black dashed .5px ;
    }
}