
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=IM+Fell+French+Canon+SC&display=swap');

body{
    margin: 0 auto;
    max-width: 1200px;  
    font-size: 17px;
    text-align: center;
    font-family:"IM Fell French Canon SC" ;
    background-color: #d2dad7;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color:#548687;
}

header img{
    width: 15%;
    display: block;
    margin: 1rem;
    border-radius: 10px;
}
header h1{
    margin-left: 2%;
    text-align: right;
}
#menu {
	display: block;
	font-size: 1.5rem;
	text-decoration: none;
	background-color: #4a494b;
	color: #eee;
}

#menu::before {
	content: "≡";
}

.navigation li {
	display: none;
}
.navigation a:hover, .navigation a:active {
	color: #4a494b;
	background-color: #d2dad7;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}
@media only screen and (min-width: 800px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	#menu {
		display: none;
	}
}
nav{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #4a494b;
}
nav ul{
    list-style-type: none;
    padding-inline-start: 0%;
    margin-block: 0%;
}
/* nav li{
    margin: 5px;
} */
nav a{
    color:white;
    text-decoration: none;
	transition: 0.5s;
}

.hero{
    grid-column: 1/3;    
    width: 100%;
    text-align: center;
    position: relative;
}

.hero h2{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #548687;
    color: black;
    padding: .5rem;
    font-size: 1rem;
}

main h2{
    color: #363536;
    text-decoration: underline;
}
.card{

    margin-top: 13px;
    border-radius: 23px;
    border-style: ridge;
    border-color: black;  
    color: black;
}
.card h3{
    margin: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color:#054A91;
    color: white;
}
.card li{
    margin: 5px;

}
.card2{

    margin-top: 13px;
    border-radius: 23px;
    border-style: ridge;
    border-color: black;  
    color: black;
}
.card2 h3{
    margin: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color:#054A91;
    color: white;
}
.card2 li{
    margin: 5px;

}
.frame{
    width: 100%;
    margin-top: 3%;
}
footer{
    margin-top: 3%;
  
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #90323D;
    color: white;
}