:root{
    --invalid-color : 3px 3px 3px red; 
    --valid-color : 3px 3px 3px green;
    --submit-button: #90323D; 
}

form{
    text-align: left;
}

input{
    display: block;
    padding: .5rem;
    font-size: 1.1rem;
    width: 30rem;
}
label{
    display: block;
    margin: .5rem 0;
}
#sliderValues{
    display:flex;
    width: 30rem;
    margin: 0 0 0 15px;
}

#sliderValues option{
    flex: 1;
}

button{
    font-size: 1.5rem;
    color: white;
    background-color: var(--submit-button);
    padding: .5rem;
    margin: 1rem 0;
}

input:valid{
    box-shadow: var(--valid-color);
}
input:invalid{
    box-shadow: var(--invalid-color);
}
